<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Genre Prediction</title>
</head>
<body>


<div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
        <div class="navbar-brand d-flex align-items-center">
            <strong>🎬 Genre Prediction</strong>
        </div>
    </div>
</div>

<div class="py-5 container">
    <div class="row">
        <div class="col-lg-12">
            <p>
                🤖 Hello, I'm a little bot that was created to discern movie genres based on the dialogue.<br>
                🧐 Here you can send me a sample of a dialogue from a movie, and I will try to guess its genre!<br><br>
                Just paste some text in the form below and hit Predict!
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <label class="h4" for="textForm">Enter your movie dialogue here:</label>
            <div class="row">
                <div class="col-lg-4">
                    <form action="" method="post" role="form">
                        <div class="mb-3">
                            <textarea class="form-control" name="text" id="textForm" rows="5" placeholder="- This is a movie dialogue!&#10;- Oh, really?">{{request_text}}</textarea>
                        </div>
                        <p>
                            <button type="submit" class="btn btn-primary">Predict</button>
                        </p>
                    </form>
                </div>
                <div class=col-lg-8">
                    <h5>{{response_text}}</h5>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>